@media screen and (min-width: 0px) and (max-width: 320px) {
  :root {
    /* CharacterResultsView */
    /* CharacterListItems */
    --characterlistitems-grd-columns: 1fr;

    /* PeopleResultsView */
    /* PeopleListItems */
    --peoplelistitems-grd-columns: 1fr;
  }
}

@media screen and (min-width: 321px) and (max-width: 559px) {
  :root {
    /* CharacterResultsView */
    /* CharacterListItems */
    --characterlistitems-grd-columns: 1fr 1fr;

    /* PeopleResultsView */
    /* PeopleListItems */
    --peoplelistitems-grd-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 560px) and (max-width: 689px) {
  :root {
    /* CharacterResultsView */
    /* CharacterListItems */
    --characterlistitems-grd-columns: 1fr 1fr 1fr;

    /* PeopleResultsView */
    /* PeopleListItems */
    --peoplelistitems-grd-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 690px) and (max-width: 1020px) {
  :root {
    /* CharacterResultsView */
    /* CharacterListItems */
    --characterlistitems-grd-columns: 1fr 1fr 1fr 1fr;

    /* PeopleResultsView */
    /* PeopleListItems */
    --peoplelistitems-grd-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  :root {
    /* AnimeResultsView */
    /* AnimeListItems */
    --animelistitems-grd-columns: 1fr;

    /* MangaResultsView */
    /* MangaListItems */
    --mangalistitems-grd-columns: 1fr;

    /* Navbar */
    --navbarlink-grd-gap: 0px;
    --navbarlink-text-display: none;

    /* AnimeObjView */
    --animeobj-grd-areas: "Cover" "InfoBase";
    --animeobj-grd-columns: 1fr;
    --animeobj-img-cover: initial;

    /* MangaObjView */
    --mangaobj-grd-areas: "Cover" "InfoBase";
    --mangaobj-grd-columns: 1fr;
    --mangaobj-img-cover: initial;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    /* AnimeResultsView */
    /* AnimeListItems */
    --animelistitems-grd-columns: 1fr 1fr;

    /* MangaResultsView */
    /* MangaListItems */
    --mangalistitems-grd-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
}
